@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Estedad";
        src: local("Estedad"),
            url("/public/fonts/Estedad/Estedad-Regular.woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "EstedadBlack";
        src: local("EstedadBlack"),
            url("/public/fonts/Estedad/Estedad-Black.woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "EstedadBold";
        src: local("EstedadBold"),
            url("/public/fonts/Estedad/Estedad-Bold.woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "EstedadMedium";
        src: local("EstedadMedium"),
            url("/public/fonts/Estedad/Estedad-Medium.woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "EstedadLight";
        src: local("EstedadLight"),
            url("/public/fonts/Estedad/Estedad-Light.woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "EstedadThin";
        src: local("EstedadThin"),
            url("/public/fonts/Estedad/Estedad-Thin.woff2");
        font-display: swap;
    }
}

@layer components {
    .sub-menu--active {
        @apply text-teal-600 font-EstedadMedium;
    }

    .hide {
        @apply invisible opacity-0;
    }

    .show {
        @apply visible opacity-100;
    }

    .sub-menu::before {
        content: "";
        position: absolute;
        top: 30px;
        left: 50%;
        width: 0;
        height: 2px;
        border-radius: 20px;
        background-color: #00806C;
        transform: translateX(-50%);
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 200ms;
        -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 200ms;
        -moz-transition: all cubic-bezier(0.4, 0, 0.2, 1) 200ms;
        -ms-transition: all cubic-bezier(0.4, 0, 0.2, 1) 200ms;
        -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 200ms;
    }

    .sub-menu:hover::before {
        width: 90%;
    }

    .sub-menu:hover {
        color: #00806C;
    }

    .section-tittle {
        @apply relative inline-flex mb-12 font-EstedadBold text-[32px] text-right pr-[116px] font-bold;
    }

    .section-tittle::before {
        content: '';
        position: absolute;
        background-image: url("/public/images/logo/svg/tittle-icon.svg");
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        top: -27px;
        right: 0;
    }

    .section-btn {
        @apply flex-center gap-3 relative max-w-[174px] mx-auto mt-10 py-3 pr-6 pl-5 bg-transparent border-2 border-teal-600 text-teal-800 rounded-2xl;
    }

    .footer-items {
        @apply relative
    }

    .footer-items::before {
        content: "";
        position: absolute;
        background: #3f3f46;
        width: 6px;
        height: 6px;
        right: -14px;
        top: 12px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }

}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }
}